/* BUTTONS */
.container {
	margin: 0 auto;
	width: 51.4rem;
	display: flex;
	gap: 3.2rem;
	justify-content: space-between;
}

.clear {
	color: white;
	font-family: inherit;
	font-size: 2rem;
	letter-spacing: 0.1px;
	line-height: normal;
	padding: 1rem;
	border-radius: 8px;
	border: 2px solid #6d6d6d;
	width: 100%;
	text-align: center;
}

.next {
	color: #000;
	font-family: inherit;
	background-color: rgba(255, 167, 37, 1);
	font-size: 2rem;
	letter-spacing: 0.1px;
	line-height: normal;
	padding: 1rem;
	border-radius: 8px;
	width: 100%;
}

.disabled {
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.1px;
	color: rgba(255, 255, 255, 0.38);
	background-color: rgba(255, 255, 255, 0.38);
	padding: 1rem;
	border-radius: 8px;
	width: 100%;
	cursor: not-allowed;
}
